.navbar-main {

 width: 100%;
 background-color: #c3e1e6;
 justify-content: space-between;
 height: 50px;
 align-items: center;
 position: sticky;
 top: 0px;



.navbar-logo {
margin-top: 8px;
height: 88px;
border-radius: 20%;
}
}
